*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
/screenshots/*
!/screenshots/nexus-compose-home-data-device.png
!/screenshots/nexus-compose-agent-verified-device.png
.externalNativeBuild
.cxx
local.properties
